@import 'variables.scss';

.Orb {
  position: fixed;
  height: calc(16px + 2vw);
  width: calc(16px + 2vw);
  bottom: 2%;
  left: 2%;
  background: rgba($color-black, 0.8);
  z-index: 90;
  color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  i {
    font-size: calc(16px + 1vw);
  }
  & p {
    font-size: calc(8px + 1.4vw);
    position: absolute;
    left: 150%;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.5s;
    width: 600%;
    visibility: hidden;
    opacity: 0;
  }
  &:hover p {
    visibility: visible;
    opacity: 1;
  }
}
