@import 'variables.scss';
@import 'mixins.scss';
.PatternDivider {
  background: center
    url('../../../../assets/images/resized/vintage-wallpaper@0.5x.png');
  background-size: 100%;
  height: 20vh;
  width: 100%;
  @include for-desktop-up {
    height: 40vh;
  }
}
