@import 'variables.scss';
@import 'mixins.scss';

.Nav {
  display: flex;
  background-color: $color-primary;

  flex-wrap: wrap;
  color: $color-white;
  font-family: $font-newsreader;
  & .navToggler {
    & i {
      position: fixed;
      top: 12px;
      right: 8px;
      transition: opacity 0.5s;
      height: 32px;
      width: 32px;
      font-size: 32px;
      z-index: 100;
    }
    & .fa-times {
      font-size: 40px;
      top: 8px;
    }
    & .hidden {
      opacity: 0;
      visibility: none;
    }
    & .visible {
      opacity: 1;
      visibility: visible;
    }
    @include for-tablet-portrait-up {
      display: none;
    }
  }
  & .navWrapper {
    background: $color-black;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);
    @include for-tablet-portrait-up {
      flex: 1 1 80%;
      position: relative;
      height: 64px;
      background: $color-secondary;
    }
    @include for-desktop-up {
      flex: 1 1 70%;
      padding: 3rem 2.4rem;
    }
    & ul {
      height: 80%;
      width: 100%;
      margin: auto 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      font-size: calc(16px + 8vw);
      gap: 2rem 0;
      @include for-tablet-portrait-up {
        flex-direction: row;
        font-size: calc(16px + 2vw);
      }
      @include for-desktop-up {
        font-size: calc(16px + 1vw);
      }
      & li {
        flex: 1 1 100%;
        @include centerContent;
        background-color: $color-secondary;
        & a {
          @include linkReset;
        }
      }
    }
  }
  & .open {
    right: 0;
    opacity: 1;
  }
  & .closed {
    right: -100vw;
    opacity: 0;
    @include for-tablet-portrait-up {
      right: 0;
      opacity: 1;
    }
  }
}
