@import 'variables.scss';
@import 'mixins.scss';

.Footer {
  min-height: 20vh;
  background: center no-repeat
    url('../../assets/images/resized/vintage-wallpaper@0.5x.png');
  background-size: 100%;
  font-family: $font-newsreader;
  @include centerContent;
  & .copyright {
    font-size: calc(16px + 1vw);
    padding: calc(16px + 0.6vh) calc(8px + 0.4vw);
    color: $color-complementary;
    font-weight: bold;
    @include for-desktop-up {
      font-size: calc(16px + 1.8vw);
    }
  }
}
