@mixin modalStyles($background) {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background: $background;
  color: $color-white;
  overflow-y: auto;
  cursor: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .closebtn {
    position: fixed;
    top: 1.5%;
    right: 3%;
    font-size: calc(24px + 3vw);
    cursor: pointer;
  }
  &.ModalOpen {
    visibility: visible;
    opacity: 1;
  }
  &.ModalClosed {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

@mixin centerContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin linkReset {
  text-decoration: none;
  color: inherit;
}

@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
