// fonts
$font-merriweather: 'Merriweather', sans-serif;
$font-newsreader: 'Newsreader', serif;

// colors
$color-primary: #0a1d3d;
$color-secondary: #2f5683;
$color-tertiary: #65b0db;
$color-complementary: #b6996d;
$color-white: #f7fbfc;
$color-black: #212121;
$color-deepblack: #161616;
$color-error: #cc0000;
